name: cqrs-es-example-php

services:
  # Database Services
  mysql:
    image: mysql:8.4
    hostname: mysql-local
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci --ngram_token_size=2
    healthcheck:
      test: MYSQL_PWD=passwd mysql -h127.0.0.1 -P3306 -uroot -e "quit"
    ports:
      - 23306:3306
    environment:
      MYSQL_ROOT_PASSWORD: passwd
      MYSQL_USER: ceer
      MYSQL_PASSWORD: ceer
      MYSQL_DATABASE: ceer
    networks:
      - cqrs-es-example-php_default

  migration:
    image: migrate/migrate:v4.19.1
    volumes:
      - ./tools/migrate/migrations:/migrations
    entrypoint:
      [
        "migrate",
        "-path",
        "/migrations",
        "-database",
        "mysql://ceer:ceer@tcp(mysql-local:3306)/ceer",
      ]
    command: [ "up" ]
    depends_on:
      mysql:
        condition: service_healthy
    restart: on-failure
    networks:
      - cqrs-es-example-php_default

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=mysql
      - PMA_USER=root
      - PMA_PASSWORD=passwd
    ports:
      - 24040:80
    depends_on:
      - mysql
    networks:
      - cqrs-es-example-php_default

  localstack:
    image: localstack/localstack:2.3.2
    hostname: localstack-local
    ports:
      - "24566:4566"
      - "24571:4571"
      - "${PORT_WEB_UI-28083}:${PORT_WEB_UI-8080}"
    environment:
      DEBUG: 1
      LOCALSTACK_API_KEY: ${LOCALSTACK_API_KEY- }
      PORT_WEB_UI: ${PORT_WEB_UI- }
      PARITY_AWS_ACCESS_KEY_ID: 1
      EAGER_SERVICE_LOADING: 1
      SERVICES: cloudwatch,dynamodb,dynamodbstreams
      HOSTNAME_EXTERNAL: localstack-local
      DEFAULT_REGION: ap-northeast-1
      DYNAMODB_SHARE_DB: 1
      DYNAMODB_IN_MEMORY: 1
    volumes:
      - "${TMPDIR:-/tmp/localstack}:/tmp/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - cqrs-es-example-php_default

  dynamodb-setup:
    image: mesosphere/aws-cli
    environment:
      AWS_ACCESS_KEY_ID: x
      AWS_SECRET_ACCESS_KEY: x
      AWS_DEFAULT_REGION: ap-northeast-1
      DYNAMODB_ENDPOINT: localstack:4566
      JOURNAL_TABLE_NAME: journal
      JOURNAL_GSI_NAME: journal-aid-index
      SNAPSHOT_TABLE_NAME: snapshot
      SNAPSHOT_GSI_NAME: snapshot-aid-index
    volumes:
      - ./tools/dynamodb-setup:/setup
    entrypoint: [ "" ]
    command: [ "/setup/create-tables.sh", "-e", "dev" ]
    depends_on:
      - localstack
    networks:
      - cqrs-es-example-php_default

  dynamodb-admin:
    image: aaronshaf/dynamodb-admin
    ports:
      - "28003:8001"
    environment:
      DYNAMO_ENDPOINT: http://localstack:4566
      AWS_DEFAULT_REGION: ap-northeast-1
    depends_on:
      - dynamodb-setup
    networks:
      - cqrs-es-example-php_default

  # Application Services
  app:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    container_name: cqrs-es-example-php-app
    volumes:
      - .:/var/www/html
    networks:
      - cqrs-es-example-php_default

  write-api-server-php-fpm:
    build:
      context: .
      dockerfile: docker/php-fpm/Dockerfile
    container_name: write-api-server-php-fpm
    environment:
      APP_ENV: local
      CORS_ALLOWED_ORIGINS: "http://localhost:38080,http://localhost:38082,http://localhost:8888"
      AWS_REGION: ap-northeast-1
      PERSISTENCE_JOURNAL_TABLE_NAME: journal
      PERSISTENCE_JOURNAL_AID_INDEX_NAME: journal-aid-index
      PERSISTENCE_SNAPSHOT_TABLE_NAME: snapshot
      PERSISTENCE_SNAPSHOT_AID_INDEX_NAME: snapshot-aid-index
      PERSISTENCE_SHARD_COUNT: 64
      AWS_DYNAMODB_ENDPOINT_URL: http://localstack:4566
      AWS_DYNAMODB_ACCESS_KEY_ID: x
      AWS_DYNAMODB_SECRET_ACCESS_KEY: x
    volumes:
      - .:/var/www/html
    networks:
      - cqrs-es-example-php_default

  write-api-server-nginx:
    image: nginx:alpine
    container_name: write-api-server-nginx
    ports:
      - "38080:8080"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/write-api-server.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - write-api-server-php-fpm
    networks:
      - cqrs-es-example-php_default

  read-model-updater-php:
    build:
      context: .
      dockerfile: docker/rmu/Dockerfile
    container_name: read-model-updater-php
    ports:
      - 38081:8080
    environment:
      APP_ENV: local
      AWS_REGION: ap-northeast-1
      AWS_DYNAMODB_ENDPOINT_URL: http://localstack:4566
      AWS_DYNAMODB_ACCESS_KEY_ID: x
      AWS_DYNAMODB_SECRET_ACCESS_KEY: x
      PERSISTENCE_JOURNAL_TABLE_NAME: journal
      DB_HOST: cqrs-es-example-php-mysql-1
      DB_PORT: 3306
      DB_DATABASE: ceer
      DB_USERNAME: root
      DB_PASSWORD: passwd
    volumes:
      - .:/var/www/html
    depends_on:
      - localstack
      - dynamodb-admin
      - dynamodb-setup
      - migration
    restart: on-failure
    networks:
      - cqrs-es-example-php_default

  read-api-server-php-fpm:
    build:
      context: .
      dockerfile: docker/php-fpm/Dockerfile
    image: cqrs-es-example-php-fpm:latest
    container_name: read-api-server-php-fpm
    environment:
      APP_ENV: local
      DB_HOST: cqrs-es-example-php-mysql-1
      DB_PORT: 3306
      DB_DATABASE: ceer
      DB_USERNAME: root
      DB_PASSWORD: passwd
      CORS_ALLOWED_ORIGINS: "http://localhost:28080,http://localhost:38082,http://localhost:8888"
    volumes:
      - .:/var/www/html
    networks:
      - cqrs-es-example-php_default

  read-api-server-nginx:
    image: nginx:alpine
    container_name: read-api-server-nginx
    ports:
      - "38082:8080"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/read-api-server.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - read-api-server-php-fpm
    networks:
      - cqrs-es-example-php_default

networks:
  cqrs-es-example-php_default:
    driver: bridge